In [1]:
## map() Function

"""The map() function apllies a given function to all items in an input list (or any other iterable)
    and returns a map pbject (an iterator). This is particularly useful for transforming data in a list
    comprehensively.
"""

'The map() function apllies a given function to all items in an input list (or any other iterable)\n    and returns a map pbject (an iterator). This is particularly useful for transforming data in a list\n    comprehensively.\n'

In [5]:
square = lambda x:x**2
def squr(x):
    return x**2

numbers = [1,2,3,4,5,6,7,8]
print(map(square,numbers))
print(list(map(squr,numbers)))

<map object at 0x108f398a0>
[1, 4, 9, 16, 25, 36, 49, 64]

In [8]:
nums1 = [1,2,3]
nums2 = [4,5,6]
added_numbers = list(map(lambda x,y:x+y,nums1,nums2))
added_numbers

[5, 7, 9]

In [9]:
# map() to convert a list of strings to integers
# use map to convert strings to integers

str_nums = ['1','2','3','4','5']
int_nums = list(map(int,str_nums))

print(int_nums)

[1, 2, 3, 4, 5]

In [13]:
words = ['apple','banana','cherry']
upper_words=list(map(str.upper,words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [14]:
def get_name(person):
    return person['name']

people = [
    {'name' : 'Dulana','age' : 32},
    {'name' : 'He he', 'age' : 30}
]

list(map(get_name,people))

['Dulana', 'He he']