In [1]:
## Data Serialization
import json
data = {'name':'Dulana','age' : 25}

json_str = json.dumps(data)

In [2]:
print(json_str)
print(type(json_str))

{"name": "Dulana", "age": 25}
<class 'str'>

In [5]:
parsed_data=json.loads(json_str)
print(type(parsed_data))

<class 'dict'>

In [6]:
# csv

import csv

with open('example.csv',mode='w',newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['name','age'])
    writer.writerow(['Dulana',80])

In [9]:
with open('example.csv',mode='r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['Dulana', '80']

In [11]:
# datetime

from datetime import datetime,timedelta

now=datetime.now()
print(now)

yesterday = now-timedelta(days=1)

print(yesterday)

2025-07-21 20:34:24.805600
2025-07-20 20:34:24.805600

In [12]:
# time 
import time
print(time.time())
time.sleep(2)
print(time.time())

1753110343.8021948
1753110345.8032482

In [13]:
## Regular expression
import re

pattern = r'\d+'
text = 'There are 847 apples 123'
match = re.search(pattern,text)
print(match.group())

847